<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Download Your Exported Files!</div>

                    <div class="card-body">
                        <template v-if="exportFinished">
                            <h3>Your migration is finished!</h3><br>
                            <span class="download-link-text"><a v-bind:href="''+baseUrl+'/download-export'" target="_blank" rel="noopener">Download your export here!</a></span>
                            <hr>
                            <h3>Usage Instructions</h3>
                            <ol>
                                <li>Save your downloaded zip file into and empty directory.</li>
                                <li>Unzip your downloaded zip file.</li>
                                <li>Install the <a href="https://wordpress.org/plugins/wp-all-import/" target="_blank" rel="noopener">WP All Import Plugin</a> on your WordPress site.</li>
                                <li>Optional: If your site uses the <a href="https://wordpress.org/plugins/wordpress-seo/" target="_blank" rel="noopener">Yoast SEO plugin</a> we recommend that you also install <a href="https://wordpress.org/plugins/yoast-seo-settings-xml-csv-import/" target="_blank" rel="noopener">WP All Import Yoast SEO Add-On</a>.</li>
                                <li>Use <a href="http://www.wpallimport.com/documentation/getting-started/importing-an-xml-or-csv-file/" target="_blank" rel="noopener">this comprehensive tutorial</a> to import your downloaded files into WordPress.</li>
                            </ol>
                            <hr>
                            <strong>IMPORTANT:</strong> Your download link will expire in 1 hour.
                        </template>
                        <template v-else-if="exportError">
                            Something went wrong while we were creating your export files.<br>
                            Please check that the .sql file you provided is a valid ModX database.
                        </template>
                        <template v-else>
                            <div v-if="queuePosition == 0">Loading...</div>
                            <div v-else-if="queuePosition == 1">
                                <strong>MoveModx is currently processing your request.</strong><br>
                                Your download link will be prompted shortly.
                            </div>
                            <div v-else>
                                <strong>Your queue position is currently: {{queuePosition}}</strong><br>
                                Please be patient, this could take a few minutes.
                            </div>
                        </template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    // import Echo from 'laravel-echo';

    export default {
        data() {
            return {
                queuePosition: 0,
                exportFinished: false,
                exportError: false,
                baseUrl: window.location.protocol+'//'+window.location.hostname
            }
        },
        created() {
            fetch('/queue-job', {
                method: 'post',
                credentials: 'same-origin',
                headers: {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content'),
                    // 'X-Requested-With': 'XMLHttpRequest'
                },
            }).then(this.postSuccess).catch(this.postError);
            this.subscribeToSocket();
        },
        computed: {

        },
        methods: {
            subscribeToSocket: function() {
                const CSRF = $('meta[name="csrf-token"]').attr('content');
                console.log('wizard-event-private.'+CSRF);
                window.Echo.channel('wizard-event-queue')
                    .listen('MoveModxCompleted', (e) => {
                        this.queuePosition -= 1;
                        console.log('queue reduced!');
                    });
                window.Echo.channel('wizard-event-private.'+CSRF)
                    .listen('MoveModxSucceeded', (e) => {
                        this.exportFinished = true;
                        console.log('export finished!');
                    });
                window.Echo.channel('wizard-event-private.'+CSRF)
                    .listen('MoveModxFailed', (e) => {
                        this.exportError = true;
                    });
            },
            postSuccess: function(response) {
                response.json().then((validation) => {
                    if(validation.success) {
                        this.queuePosition = validation.queueCount;
                    } else {
                        alert('Something went wrong with your request. Please try again later.');
                        console.log(validation);
                    }
                });
            }
        }
    }
</script>
<style scoped>
    h3 {
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .download-link-text {
        font-size: 20px;
        font-weight: bold;
    }
</style>
