<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h1>Application Information</h1>
                    </div>
                    <div class="card-body">
                        <form action="#" id="app-information" v-on:submit.prevent="formSubmit">

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="origin-domain">ModX URL</label>
                                </div>
                                <input name="origin-domain"
                                       v-model="originDomain"
                                       type="text"
                                       class="form-control"
                                       placeholder="The full path of your ModX site: e.g. https://www.example.com"
                                       id="origin-domain">
                            </div>

                            <hr>

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="destination-domain-check">
                                        My WordPress site will be hosted at a different URL than my current ModX site
                                    </label>
                                </div>
                                <input name="destination-domain-check"
                                       v-model="destinationDomainCheck"
                                       type="checkbox"
                                       value="1"
                                       class="form-control"
                                       id="destination-domain-check">
                            </div>

                            <hr>

                            <div class="input-group" v-if="destinationDomainCheck">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="destination-domain">WordPress URL</label>
                                </div>
                                <input name="destination-domain"
                                       v-model="destinationDomain"
                                       type="text"
                                       class="form-control"
                                       placeholder="The full path of your WordPress site: e.g. https://www.wordpress-site.com"
                                       id="destination-domain">
                            </div>

                            <hr v-if="destinationDomainCheck">

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="destination-image-path">New Image Base URL</label>
                                </div>
                                <input name="destination-image-path"
                                       v-model="destinationImagePath"
                                       type="text"
                                       class="form-control"
                                       placeholder="The full path of where you will upload your content images"
                                       id="destination-image-path">
                            </div>

                            <hr>

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="origin-base-value-check">
                                        Does your ModX template contain a &lt;base&gt; tag?
                                    </label>
                                </div>
                                <input name="origin-base-value-check"
                                       v-model="originBaseValueCheck"
                                       type="checkbox"
                                       value="1"
                                       class="form-control"
                                       id="origin-base-value-check">
                            </div>

                            <hr v-if="originBaseValueCheck">

                            <div class="input-group" v-if="originBaseValueCheck">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="origin-base-value">
                                        &lt;base&gt; tag src value
                                    </label>
                                </div>
                                <input name="origin-base-value"
                                       v-model="originBaseValue"
                                       type="text"
                                       class="form-control"
                                       placeholder="Enter the value of the src attribute on the &lt;base&gt; tag"
                                       id="origin-base-value">
                            </div>

                            <hr>

                            <button type="submit" class="btn-primary float-right">Next</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
          return {
              originDomain: '',
              destinationDomain: '',
              destinationDomainCheck: false,
              originBaseValueCheck: false
          }
        },
        props: ['progress'],
        methods: {
            formSubmit: function() {
                let form = document.getElementById('app-information');
                let formData = new FormData(form);
                window.fetch('/app-information', {
                    method: 'post',
                    body: formData,
                    credentials: 'same-origin',
                    headers: {
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content'),
                        'X-Requested-With': 'XMLHttpRequest'
                    },
                }).then(this.postSuccess).catch(this.postError);
            },
            postSuccess: function(response) {
                response.json().then((validation) => {
                    if(validation.success) {
                        this.progress.step = 'download';
                    } else {
                        alert('Invalid submission. Please check and try again.');
                        console.log(validation);
                    }
                });
            },
            postError: function(error) {
                alert('Something went wrong with your request. Please come back and try again later.');
                console.log(error);
            }
        },
        computed: {
            destinationImagePath: function() {
                let today = new Date();
                let month = ("0" + (today.getMonth() + 1)).slice(-2);//Force month as 2 digit format
                let wordpressPath = '/wp-content/uploads/'+today.getFullYear()+'/'+month+'/';
                let destDomain = this.destinationDomainCheck ? this.destinationDomain : this.originDomain;
                return destDomain.replace(/\/+$/,'') + wordpressPath;
            },
            originBaseValue: function() {
                return this.originDomain
            }
        }
    }
</script>
