<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h1>Upload your ModX database</h1>
                    </div>
                    <div class="card-body">
                        <p>Upload your ModX database as an .sql file</p>
                        <vue-dropzone id="dropzone" :options="dropOptions"></vue-dropzone>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import 'vue2-dropzone/dist/vue2Dropzone.min.css';
    import vueDropzone from 'vue2-dropzone';
    export default {
        props: ['progress'],
        components: {
            vueDropzone
        },
        data() {
            const Upload = this;
            return {
                dropOptions: {
                    url: '/upload-modx',
                    maxFiles: 1,
                    method: 'post',
                    autoDiscover: false,
                    dictDefaultMessage: 'Upload your .sql file here',
                    headers: {
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    },
                    success () {
                        //Move to next step if upload is successful
                        Upload.progress.step = 'information';
                    }
                }
            }
        }
    }
</script>
