<template>
    <div class="container">
        <ul id="progress-tracker">
            <li v-bind:class="{active: progress.step == 'upload'}">
                <span class="number">1</span>
            </li>
            <li v-bind:class="{active: progress.step == 'information'}">
                <span class="number">2</span>
            </li>
            <li v-bind:class="{active: progress.step == 'download'}">
                <span class="number">3</span>
            </li>
        </ul>
        <div id="progress-content">
            <upload v-bind:progress="progress" v-if="progress.step == 'upload'"></upload>
            <information v-bind:progress="progress" v-if="progress.step == 'information'"></information>
            <download v-bind:progress="progress" v-if="progress.step == 'download'"></download>
        </div>
    </div>
</template>

<script>
    import Upload from './Upload.vue';
    import Information from './Information.vue';
    import Download from './Download.vue';

    export default {
        data () {
            return {
                progress: {
                    step: 'upload'
                }
            }
        },
        components: {
            Upload,
            Information,
            Download,
        }
    }
</script>

<style scoped>
    ul#progress-tracker {
        list-style: none;
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 50px 0 50px 0;
    }

    ul#progress-tracker li {
        display: flex;
        align-items: center;
    }

    ul#progress-tracker li .number {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        border: 1px solid #ccc;
        font-size: 20px;
        line-height: 45px;
        text-align: center;
        transition: all 0.5s;
    }

    ul#progress-tracker li.active .number {
        background: green;
        color: #fff;
        border: 0;
        transition: all 0.5s;
    }

    ul#progress-tracker li::after {
        content: '';
        height: 15px;
        width: 100px;
        background: #ccc;
        display: block;
        border-radius: 5px;
        margin: 0 10px;
    }

    ul#progress-tracker li:last-child::after {
        content: none;
    }
</style>
