<template>
    <div>
        <wizard></wizard>
    </div>
</template>

<script>
    import Wizard from './wizard/Wizard.vue';
    export default {
        components: {
            Wizard
        }
    }
</script>
